@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.game {
    text-align: center;
}

.title {
    background-color: #17202A;
    margin-top: -22px;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.title h1 {
    font-size: 32px;
    color: #F4D03F;
    font-family: 'Press Start 2P';
}

.score {
    padding-bottom: 20px;
}

.gameSection button {
    font-size: 50px;
}
